<a href="https://colab.research.google.com/github/kurogo-nguyen/ern/blob/main/findError.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# import

In [ ]:
! pip install mne
# ! pip install AutoReject
! pip install h5io

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mne
  Downloading mne-1.0.3-py3-none-any.whl (7.5 MB)
     |████████████████████████████████| 7.5 MB 5.1 MB/s
Requirement already satisfied: pooch>=1.5 in /usr/local/lib/python3.7/dist-packages (from mne) (1.6.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from mne) (2.11.3)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from mne) (1.21.6)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from mne) (1.7.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from mne) (3.2.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from mne) (4.64.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from mne) (4.4.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from mne) (21.3)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pooch>=1.5->mne) (2.23.0)
Requirement already satisfied: appdirs>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from pooch>=1.5->mne) (1.4.4)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->mne) (3.0.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pooch>=1.5->mne) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pooch>=1.5->mne) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pooch>=1.5->mne) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pooch>=1.5->mne) (2.10)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->mne) (2.0.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mne) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mne) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mne) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->mne) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->mne) (1.15.0)
Installing collected packages: mne
Successfully installed mne-1.0.3
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting h5io
  Downloading h5io-0.1.7-py3-none-any.whl (12 kB)
Requirement already satisfied: h5py in /usr/local/lib/python3.7/dist-packages (from h5io) (3.1.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from h5io) (1.21.6)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py->h5io) (1.5.2)
Installing collected packages: h5io
Successfully installed h5io-0.1.7

In [ ]:
import numpy as np
import mne
import matplotlib
import pandas as pd
from os import listdir, path

# parameter

In [ ]:
DATA_PATH = '/content/drive/MyDrive/DataHMI'

HOLD_TIME = 1.5

In [ ]:
def getError(id: int, sample: str, path=DATA_PATH):
    df = pd.read_csv(f'{path}/{id}/sample{sample}/ET.csv', keep_default_na=False)

    startTime = df.iloc[0].TimeStamp

    df.drop(['x','y'], axis=1, inplace=True)

    # # Remove non typing segment
    df = df[df.sentence!= 'MainMenu']

    df['prev_sentence'] = df.sentence.shift(1)
    df = df[df.sentence != df.prev_sentence]
    df = df[~df['character typing'].isin(['', 'START_ET_STREAM'])]

    df['onset'] = df['TimeStamp'] - startTime
    # df.rename(columns={'character typing':'event',}, inplace=True)
    # df['isCorrect'] = (df['character typing'] != '⌫')

    df = df[df['character typing'].isin(['⌫','⌧']) ]

    return df

In [ ]:
def getOnset(id: int, sample: str, path=DATA_PATH):
    df = pd.read_csv(f'{path}/{id}/sample{sample}/ET.csv', keep_default_na=False)

    startTime = df.iloc[0].TimeStamp

    df.drop(['x','y'], axis=1, inplace=True)

    # Remove non typing segment
    df = df[df.sentence!= 'MainMenu']

    df['prev_sentence'] = df.sentence.shift(1)
    df = df[df.sentence != df.prev_sentence]
    df = df[~df['character typing'].isin(['', 'START_ET_STREAM'])]

    df['onset'] = df['TimeStamp'] - startTime
    # df.rename(columns={'character typing':'event',}, inplace=True)
    df['isCorrect'] = (df['character typing'] != '⌫')

    return df

In [ ]:
def insertERN(id: int, idx: int, sample: str, prev_onset: float, del_onset: float, 
              sentence_error: str, next_sentence: str, df: pd.DataFrame)-> pd.DataFrame:
    onset = prev_onset+HOLD_TIME
    duration = del_onset - prev_onset-HOLD_TIME
    row = {'id':id, 'sample': sample, 'onset': onset, 
           'duration': duration, 
           'sentence error': sentence_error, 
           'next sentence': next_sentence, 'idx':idx}

    return df.append(row,ignore_index=True)

In [ ]:
def smt(id: int, sample: str, idx: int) -> pd.DataFrame:

    df = pd.read_csv(f'{DATA_PATH}/{id}/sample{sample}/ET.csv', keep_default_na=False)

    startTime = df.iloc[0].TimeStamp

    df = df[df.sentence!= 'MainMenu']
    df['prev_sentence'] = df.sentence.shift(1)
    df = df[df.sentence != df.prev_sentence]

    timestamps = df['TimeStamp'].to_list() - startTime - HOLD_TIME
    charTypings = df['character typing'].to_list()
    sentences = df['sentence'].to_list()

    # typing_onsets = []
    # typing_durations = []
    # typing_descriptions = []
    m_ERN_df = pd.DataFrame(columns=['id', 'sample', 'onset', 'duration', 'sentence error', 'next sentence', 'idx'])

    for i in range(2,len(timestamps)):
        if charTypings[i] in ['⌫', '⌧']:
            m_ERN_df = insertERN(id, idx, sample, timestamps[i-1], timestamps[i], sentences[i-1], sentences[i], m_ERN_df)
            
    #         typing_onsets.append(timestamps[i-1] + hold_time)
    #         typing_durations.append(timestamps[i]-timestamps[i-1]-hold_time)
    #         typing_descriptions.append('has ERN')

    #     typing_onsets.append(timestamps[i])
    #     typing_durations.append(hold_time)
    #     typing_descriptions.append(charTypings[i])

    # raw = mne.io.read_raw(f'{DATA_PATH}/K{id}/sample{sample}/EEG.edf', preload=True, verbose=0)

    # typing_anotations = mne.Annotations(onset=typing_onsets, 
    #                                 duration=typing_durations, 
    #                                 description=typing_descriptions, 
    #                                 orig_time=raw.info['meas_date'])

    
    # raw.set_annotations(typing_anotations)
    # l_raw.append(raw)
    # for i in range(len(m_ERN_df.idx)):
    #     figs.append(raw.plot(start=m_ERN_df.onset[i]-0.5, duration=m_ERN_df.duration[i]+1, scalings=0.05, order=frontal_channels_order, lowpass=10, highpass=0.1))

    return m_ERN_df

In [ ]:
ERN_df = pd.DataFrame(columns=['id', 'sample', 'onset', 'duration', 'sentence error', 'next sentence', 'idx'])
ERN_df

Empty DataFrame
Columns: [id, sample, onset, duration, sentence error, next sentence, idx]
Index: []

In [ ]:
# l_df = []
# l_raw = []
# count=0
# p = []
idx=0
for id in listdir(DATA_PATH):
    for sample in range(1,10):
        if path.exists(f'{DATA_PATH}/K333/sample{sample}'):
            ERN_df=ERN_df.append(smt('K333', sample, idx))
            idx=idx+1
            # df = getError(id, sample, DATA_PATH)
            # if '⌫' in df['character typing'].unique():
            #     # print(f'{count} {id} {sample} done')
            #     ERN_df.m
            #     p.append([id,sample])
            #     l_df.append(df)
            #     l_raw.append(loadRaw(id, sample, ALS_DATA_PATH))
            #     count=count+1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
ERN_df

      id sample       onset  duration sentence error next sentence  idx
0   K333      4  103.035050  3.662215    nâng chân t     nâng chân    3
0   K333      9   80.943562  0.895394  tôi muốn đi t   tôi muốn đi    8
0   K333      4  103.035050  3.662215    nâng chân t     nâng chân   12
0   K333      9   80.943562  0.895394  tôi muốn đi t   tôi muốn đi   17
0   K333      4  103.035050  3.662215    nâng chân t     nâng chân   21
..   ...    ...         ...       ...            ...           ...  ...
0   K333      9   80.943562  0.895394  tôi muốn đi t   tôi muốn đi  629
0   K333      4  103.035050  3.662215    nâng chân t     nâng chân  633
0   K333      9   80.943562  0.895394  tôi muốn đi t   tôi muốn đi  638
0   K333      4  103.035050  3.662215    nâng chân t     nâng chân  642
0   K333      9   80.943562  0.895394  tôi muốn đi t   tôi muốn đi  647

[144 rows x 7 columns]

In [ ]:
ERN_df

,id,sample,onset,duration,sentence error,next sentence,idx
0,K333,4,103.035050,3.662215,nâng chân t,nâng chân,39
1,K333,9,80.943562,0.895394,tôi muốn đi t,tôi muốn đi,44
2,K355,9,110.207229,0.759395,tôi muốn đi vệ să,tôi muốn đi vệ s,53
3,K334,1,126.545099,12.707590,nâng tay p,nâng tay,63
4,K344,3,105.818152,2.511677,nâng n,nâng,83
...,...,...,...,...,...,...,...
0,K323,2,113.020148,2.711532,na,n,523
0,K323,8,85.673918,2.012782,tôi muốn n,tôi muốn,529
1,K323,8,116.591668,1.559611,tôi muốn uống nu,tôi muốn uống n,529
0,K323,9,69.926763,4.542755,tôi muống,tôi muốn,530
0,K331,9,74.497572,0.993576,tôi muốn đ,tôi muốn,539

In [ ]:
ERN_df.reset_index(drop=True, inplace=True)

In [ ]:
ERN_df

,id,sample,onset,duration,sentence error,next sentence,idx
0,K333,4,103.035050,3.662215,nâng chân t,nâng chân,39
1,K333,9,80.943562,0.895394,tôi muốn đi t,tôi muốn đi,44
2,K355,9,110.207229,0.759395,tôi muốn đi vệ să,tôi muốn đi vệ s,53
3,K334,1,126.545099,12.707590,nâng tay p,nâng tay,63
4,K344,3,105.818152,2.511677,nâng n,nâng,83
...,...,...,...,...,...,...,...
120,K323,2,113.020148,2.711532,na,n,523
121,K323,8,85.673918,2.012782,tôi muốn n,tôi muốn,529
122,K323,8,116.591668,1.559611,tôi muốn uống nu,tôi muốn uống n,529
123,K323,9,69.926763,4.542755,tôi muống,tôi muốn,530
124,K331,9,74.497572,0.993576,tôi muốn đ,tôi muốn,539

In [ ]:
ERN_df

,id,sample,onset,duration,sentence error,next sentence,idx
0,K333,4,103.035050,3.662215,nâng chân t,nâng chân,39
1,K333,9,80.943562,0.895394,tôi muốn đi t,tôi muốn đi,44
2,K355,9,110.207229,0.759395,tôi muốn đi vệ să,tôi muốn đi vệ s,53
3,K334,1,126.545099,12.707590,nâng tay p,nâng tay,63
4,K344,3,105.818152,2.511677,nâng n,nâng,83
5,K358,8,68.297819,0.695583,tôi l,tôi,178
6,K358,9,66.564346,0.895739,tôi l,tôi,179
7,K358,9,103.588414,1.648203,tôi muốn đi ma,tôi muốn đi m,179
8,K372,1,75.067599,5.938171,d,,180
9,K300,2,133.273021,1.715532,nâng tay phải,,190
10,K300,5,123.764201,5.210220,há miê,,193
11,K300,5,161.785061,5.863400,há miê,há mi,193
12,K300,5,178.525378,16.060893,há mị,há m,193
13,K375,4,86.536812,2.249109,nang,nan,201
14,K375,4,112.167590,2.998491,nâng cha,nâng ch,201
15,K375,5,75.433054,1.090939,m,,202
16,K299,1,120.526945,14.128617,v,,207
17,K373,5,95.080259,5.951817,ha mi,,229
18,BN003,8,110.213425,7.930665,tôi muống,,241
19,K371,5,83.402590,1.775118,han,ha,247
20,K301,1,134.638392,11.316249,nâng chân trá,nâng chân tr,270
21,K301,2,78.839546,4.760330,nang,nan,271
22,K301,2,99.778360,3.205095,nă,n,271
23,K301,2,163.606190,6.836063,nâng chân phả i,nâng chân phả,271
24,K301,3,81.272668,5.495050,nang,nan,272
25,K301,4,110.012832,11.333238,nâng tay phả,nâng tay ph,273
26,K309,7,117.893584,1.066232,lắc đầu,,285
27,K302,4,87.722561,2.396794,nang,,291
28,K302,8,90.042911,4.762682,tôi muốn nư,tôi muốn n,295
29,K303,1,84.163332,4.060588,na,n,315
30,K303,3,99.456415,2.260218,nâng trâ,nâng tr,317
31,K305,8,67.290738,0.697983,muô,mu,331
32,K305,8,114.161808,4.792373,tôi muốn uốn,tôi muốn uố,331
33,K308,9,59.928576,1.190463,tôi đi,tôi đ,350
34,K306,1,126.641276,2.865057,nang,,351
35,K318,1,113.084242,0.793698,nâng đ,nâng,387
36,K312,3,117.793977,1.979892,nang,nan,407
37,K316,8,100.097412,11.551662,tôi muốn uống nu,tôi muốn uống n,439
38,K324,2,110.912536,1.532210,nâng tay phải,,451
39,K328,1,123.758215,2.246874,nang,nan,459
40,K322,1,125.197712,3.359009,nâng tay c,nâng tay,468
41,K322,4,118.860359,4.148563,nâng chân phải cụt,nâng chân phải cụ,471
42,K322,6,92.549128,4.056215,gật đầu đă,gật đầu đ,473
43,K321,3,86.205220,4.164271,nang,,479
44,K330,2,94.007491,2.947822,nâng tay tr,nâng tay t,514
45,K323,1,155.864177,3.132008,nâng tay trải,nâng tay trả,522
46,K323,2,113.020148,2.711532,na,n,523
47,K323,8,85.673918,2.012782,tôi muốn n,tôi muốn,529
48,K323,8,116.591668,1.559611,tôi muốn uống nu,tôi muốn uống n,529
49,K323,9,69.926763,4.542755,tôi muống,tôi muốn,530
50,K331,9,74.497572,0.993576,tôi muốn đ,tôi muốn,539

In [ ]:
ERN_df[['id','sample']].drop(33).drop_duplicates().reset_index(drop=True).to_csv('/content/drive/MyDrive/DataHMI/error3.csv')